.rootLayout {
  position: relative;

  box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: 100vw;
  min-width: 100vw;
  max-width: 100vw;
  height: 100vh;
  min-height: 100vh;
  max-height: 100vh;
  overflow: hidden;

  display: grid;
  grid-template-columns:
    [full-start nav-aside-start] minmax(0, max-content)
    [nav-aside-end left-aside-start] minmax(0, max-content)
    [left-aside-end left-split-start] 4px
    [left-split-end main-start] minmax(400px, 1fr)
    [main-end right-split-start] 4px
    [right-split-end right-aside-start] minmax(0, max-content)
    [right-aside-end full-end];

  grid-template-rows:
    [full-start mein-start] minmax(200px, 1fr)
    [main-end bottom-split-start] 4px
    [bottom-split-end bottom-aside-start] minmax(0, max-content)
    [bottom-aside-end footer-start] minmax(0, max-content)
    [footer-end];

  grid-template-areas:
    "nav-aside left-aside left-split main right-split right-aside"
    "nav-aside bottom-split bottom-split bottom-split bottom-split bottom-split"
    "nav-aside bottom-aside bottom-aside bottom-aside bottom-aside bottom-aside"
    "footer footer footer footer footer footer";

  .navAside {
    grid-area: nav-aside;
  }

  .leftAside {
    grid-area: left-aside;
  }

  .leftSplit {
    grid-area: left-split;
    cursor: e-resize;
    height: 100%;
    width: 100%;
  }

  .main {
    grid-area: main;
  }

  .rightSplit {
    grid-area: right-split;
    cursor: e-resize;
    height: 100%;
    width: 100%;
  }

  .rightAside {
    grid-area: right-aside;
  }

  .bottomSplit {
    grid-area: bottom-split;
    cursor: n-resize;
    height: 100%;
    width: 100%;
  }

  .bottomAside {
    grid-area: bottom-aside;
  }

  .footer {
    grid-area: footer;
  }
}
