.rootLayout {
  position: relative;

  box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: 100vw;
  min-width: 100vw;
  max-width: 100vw;
  height: 100vh;
  min-height: 100vh;
  max-height: 100vh;
  overflow: hidden;

  display: grid;
  grid-template-columns:
    [full-start nav-start] minmax(0px, max-content) [nav-end nav-aside-start] minmax(0px, max-content) [nav-aside-end nav-split-start] 0px [nav-split-end main-start] minmax(400px, 1fr) [main-end aside-split-start] 0px [aside-split-end aside-start] minmax(0px, max-content) [aside-end full-end];

  grid-template-rows:
    [full-start main-start] minmax(200px, 1fr) [main-end bottom-split-start] 0px [bottom-split-end bottom-panel-start] minmax(0px, max-content) [bottom-panel-end footer-start] minmax(0px, max-content) [footer-end];

  grid-template-areas:
    "nav nav-aside nav-split main aside-split aside"
    "nav bottom-split bottom-split bottom-split bottom-split bottom-split"
    "nav bottom-panel bottom-panel bottom-panel bottom-panel bottom-panel"
    "footer footer footer footer footer footer";

  .nav {
    grid-area: nav;
  }

  .navAside {
    grid-area: nav-aside;
  }

  .navSplit {
    position: absolute;
    top: 0;
    left: -2px;
    z-index: 1;
    grid-area: nav-split;
    cursor: e-resize;
    height: 100%;
    width: 4px;
  }

  .main {
    grid-area: main;
  }

  .asideSplit {
    position: absolute;
    top: 0;
    left: -2px;
    z-index: 1;
    grid-area: aside-split;
    cursor: e-resize;
    height: 100%;
    width: 4px;
  }

  .aside {
    grid-area: aside;
  }

  .bottomSplit {
    grid-area: bottom-split;
    z-index: 1;
    cursor: n-resize;
    height: 4px;
    width: 100%;
  }

  .bottomPanel {
    grid-area: bottom-panel;
  }

  .footer {
    grid-area: footer;
  }
}